<form name="matriculaForm">
    <fieldset>
        <legend>Dados do Aluno</legend>
        <div class="row">
            <div class="small-4 columns">
                <label>Nome do Aluno
                    <input type="text" placeholder="nome" ng-model="matriculaSelect.nome" ng-disabled="true"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label>E-mail
                    <input type="email" placeholder="example@sample.com" ng-model="matriculaSelect.email" ng-disabled="true"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label>Data Nascimento
                    <input type="text" placeholder="dd/mm/aaaa" id="datepicker" ng-model="matriculaSelect.dataNasc" ng-disabled="true"/>
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Disciplinas escolhidas</legend>
        <div class="row">
        <ul>
            <div ng-repeat="disc in matriculaSelect.disciplinas">
                <li/>{{disc.nome}} {{disc.credito}}
            </div>
        </ul>
        </div>
    </fieldset>
    <div class="row">
        <input type="submit" class="button"  value="Aprovar" ng-click="aprovar(matriculaSelect)"/>
    </div>
</form>
