<div ng-show="details==false">
<h3>Relação das Matrículas cadastradas</h3>
<table align="center">
    <thead>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Data Nascimento</th>
        <th>Aprovado?</th>
        <th>Editar</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="mat in matriculas">
        <td>{{mat.nome}}</td>
        <td>{{mat.email}}</td>
        <td>{{mat.dataNasc}}</td>
        <td align="center"><input type="checkbox" ng-checked="{{mat.aprovado}}" disabled/></td>
        <td><input type="button" class="button [tiny small large]" ng-click="changeMat(mat)" value="Editar" ng-disabled="mat.aprovado"/> </td>
    </tr>
    </tbody>
</table>
</div>
<div ng-hide="details==false">
<form name="matriculaForm">
    <fieldset>
        <legend>Dados do Aluno</legend>
        <div class="row">
            <div class="small-4 columns">
                <label>Nome do Aluno
                    <input type="text" placeholder="nome" ng-model="matriculaSelect.nome" ng-disabled="true"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label>E-mail
                    <input type="email" placeholder="example@sample.com" ng-model="matriculaSelect.email" ng-disabled="true"/>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <label>Data Nascimento
                    <input type="text" placeholder="dd/mm/aaaa" id="datepicker" ng-model="matriculaSelect.dataNasc" ng-disabled="true"/>
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Disciplinas escolhidas</legend>
        <div class="row">
        <ul>
            <div ng-repeat="disc in matriculaSelect.disciplinas">
                <li/>{{disc.nome}} {{disc.credito}}
            </div>
        </ul>
        </div>
    </fieldset>
    <div class="row">
        <div ng-show="creditoTotal<8">Não é possível aprovar matrículas com menos de 8 créditos</div>
        <input type="submit" class="button"  value="Aprovar" ng-click="aprova(matriculaSelect)" ng-disabled="creditoTotal<8"/>&nbsp;&nbsp;
        <input type="button" class="button"  value="Voltar" ng-click="voltar()"/>
    </div>
</form>
</div>